chroma-hnswlib==0.7.3
chromadb==0.4.15
huggingface-hub==0.23.3
langchain==0.2.6
langchain-community==0.2.6
langchain-core==0.2.10
langchain-experimental==0.0.62
langchain-huggingface==0.0.3
langchain-text-splitters==0.2.0
langchainhub==0.1.17
nltk==3.8.1
python-docx
python-dotenv==1.0.1
python-pptx==0.6.23
pypdf==4.0.0
audio-recorder-streamlit==0.0.9
ffmpeg==1.4
gdown==5.2.0
gTTS==2.5.1
SpeechRecognition==3.10.4
streamlit==1.28.1
librosa==0.7.0
numpy==1.17.1
opencv-contrib-python>=4.2.0.34
opencv-python==4.1.0.25
torch==1.1.0
torchvision==0.3.0
tqdm==4.45.0
numba==0.48
